.services {
  &__wrapper {
    position: relative;
    z-index: 5;
    margin-top: -63px;
    background: #FBFBFB;
    padding: 135px 0 135px 0;
  }
  &__container {

  }
  &__body {

  }
  &__title {
    
  }
  &__card {

  }
}
.title {
  position: relative;
    font-weight: 700;
    font-size: 48px;
    line-height: 71 / 48 * 100% ;
    letter-spacing: 3.072px;
    color: #252525;
    margin-bottom: 85px;

    &:after {
      content: '';
      position: absolute;
      width: 45px;
      bottom: -7px;
      border-bottom: 2px solid #252525;
      display: block;
    }
}
.card {
  display: flex;
  @include adaptiv-value("gap", 26, 15, 1);

  &__wrapper {
    transition: all 0.3s ease 0s;

    &:hover {
      box-shadow: 0px 0px 20px #DBDBDB;
      cursor: pointer;
    }
  }
  &__body {
    position: relative;
    padding: 50px 49px 35px 43px;
    background-color: #fff;

    &:after {
      content: '';
      position: absolute;
      width: 0;
      bottom: 0;
      left: 0;
      border-bottom: 3px solid #70BF73;
      display: block;
      transition: all 0.3s ease 0s;
    }
    &:hover::after,
    &:focus:after {
      width: 100%;
    }
  }
  &__header {
    position: relative;
    display: flex;
  }
  &__title {
    position: relative;
    font-size: 20px;
    line-height: 30 / 20 * 100%;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #252525;
    margin-bottom: 36px;

    &:after {
      content: '';
      position: absolute;
      width: 35px;
      bottom: -15px;
      border-bottom: 2px solid #252525;
      display: block;
    }
  }
  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 38px;
    box-shadow: 0px 0px 20px #DBDBDB;
  }
  &__text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    line-height: 25 / 12 * 100%;
    letter-spacing: 1.008px;
    color: #777777;
    margin-bottom: 19px;
  }
  &__link {
    letter-spacing: 0.64px;
    text-transform: uppercase;
    color: #252525;
    opacity: 0.5;
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 1;
    }
  }
}

@import "animation";

@media (min-width: $md2) {
  .card {
    display: flex;
    
    &__wrapper {
      flex: 0 1 33.333%;
    }
  }
}

@media (max-width: $md2) {
  .card {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    &__wrapper {
    }
  }
  .services__title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 56px;

    &::after {
      content: none;
    }
  }
  .services__wrapper {
    padding: 70px 0 70px 0;
  }
}

@media (max-width: $md4) {
  .services__title {
    font-size: 28px;
  }
  .card__title {
    font-size: 16px;
  }
  .card__link {
    font-size: 13px;
  }
}