$minWidth: 320px;
$maxWidth: 1800;
$maxWidthContainer: 1210; // 1180 + 30(отступы безопасности: слева и справа)
$md1: $maxWidthContainer + 12;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$mainColor: #252525;